<header class="navbar navbar-dark bd-navbar fixed-top shadow-lg">
    <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/index.html" aria-label="Bootstrap">
      {%- include icons/bootstrap.svg width="36" height="36" class="d-block" -%}
    </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/index.html" onclick="ga('send', 'event', 'Navbar', 'Bootstrap App', 'Bootstrap');">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction.html" onclick="ga('send', 'event', 'Navbar', 'Bootstrap App', 'Docs');">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == "Examples" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/index.html" onclick="ga('send', 'event', 'Navbar', 'Bootstrap App', 'Examples');">Examples</a>
      </li>
      <!-- <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
        {%- include icons/menu.svg width="30" height="30" -%}
      </button> -->
    </ul>
  </div>
</header>
