    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <p>Designed and Developed in 🇿🇦 with ❤️ by <a href="https://22digital.co.za/" rel="follow">22 Digital</a>. This app is not endorsed nor affiliated with Bootstrap in any way. The Bootstrap mark and logo, used in this app, are copyright Bootstrap.</p>
            <p>&nbsp;</p>
            <p>Bootstrap is designed and built by <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> and <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of the <a href="https://github.com/twbs/bootstrap/graphs/contributors">Bootstrap contributors</a>.</p>
            <p>Current Documentation for v{{ site.current_version }}. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
        </div>
    </footer>
