    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <p>Designed and Developed in 🇿🇦 with ❤️ by <a href="https://22digital.co.za/" rel="follow">22 Digital</a>. Current Documentation for v{{ site.current_version }}.</p>
            <p>This app is not endorsed nor affiliated with Bootstrap in any way. The Bootstrap mark and logo, used in this app, are copyright Bootstrap.</p>
        </div>
    </footer>
