<meta charset="utf-8">
<!-- <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src * 'unsafe-inline'; img-src * 'unsafe-inline'; font-src * 'unsafe-inline';" /> -->
<meta http-equiv="Content-Security-Policy" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<!-- Load Cordova -->
<script type="text/javascript" src="cordova.js"></script>
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/dist/css/bootstrap.min.css" rel="stylesheet" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">
<!-- Documentation extras -->
{% if page.layout == "docs" -%}
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/css/docsearch.min.css" rel="stylesheet">
{% endif -%}
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/css/docs.min.css" rel="stylesheet">
<!-- Google Analytics -->
<script>
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    var GA_LOCAL_STORAGE_KEY = 'ga:clientId';
    ga('create', 'UA-111102416-5', {
        'storage': 'none',
        'clientId': localStorage.getItem(GA_LOCAL_STORAGE_KEY)
    });
    ga(function(tracker) {
        localStorage.setItem(GA_LOCAL_STORAGE_KEY, tracker.get('clientId'));
    });
    // File URL support.
    ga('set', 'checkProtocolTask', function() { /* noop */ });
    // Send the screenview hit.
    ga('send', {
        hitType: 'screenview',
        screenName: 'Home',
        appName: 'Bootstrap'
    });
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- Admob Plugin  -->
<script type="text/javascript">
    function onDeviceReady() {
        document.removeEventListener('deviceready', onDeviceReady, false);
        // Set cordova-admob options:
        admob.setOptions({
            publisherId: "ca-app-pub-9220202929300502/9759654695",
            interstitialAdId: "ca-app-pub-9220202929300502/8184108323"
        });
    }
    document.addEventListener("deviceready", onDeviceReady, false);
</script>
