<!DOCTYPE html>
<!--
    Bootstrap 4

    This is a Native mobile application for Android that includes all the 
    documentation for Bootstrap 4.

    Copyright: Copyright (c) 2018 22 Digital (https://22digital.co.za)
    Author   : Justin Hartman <justin@hartman.me> (https://justinhartman.blog)
    License  : https://opensource.org/licenses/MIT MIT
    Version  : 0.1.5
    Link     : https://github.com/22digital/bootstrap-4-android
    Link     : https://22digital.co.za
    Link     : https://justinhartman.blog

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to 
    deal in the Software without restriction, including without limitation the 
    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
    sell copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in 
    all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
    DEALINGS IN THE SOFTWARE.
-->
<html lang="en">
  <head>
    {%- include header.html -%}
  </head>
  <body>
    {%- include docs-navbar.html -%}

    {% if page.layout == "simple" or page.layout == "examples" %}
      {{ content }}
    {% else %}
      <main id="content" role="main">
        {{ content }}
      </main>
    {%- endif -%}

{%- include footer.html -%}
    {%- include scripts.html -%}
  </body>
</html>
