---
layout: default
---

<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
  <div class="pt-md-3 pb-md-4 mt-5 mt-md-0">
    <h1 class="bd-title mt-0">{{ page.title | smartify }}</h1>
    <p class="bd-lead">{{ page.description | smartify }}</p>
  </div>
  {% include ads.html %}
</header>

<main class="bd-content p-5" id="content" role="main">
  {{ content }}
</main>
