<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap · Content moved</title>
    <link rel="canonical" href="{{ page.redirect.to }}">
    <script>window.location="{{ page.redirect.to }}";</script>
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <meta name="robots" content="noindex">
    <style>
      html {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
      }
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      h1 {
        margin-top: 0;
        margin-bottom: .5rem;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Redirecting&hellip;</h1>
    <a href="{{ page.redirect.to }}">Click here if you are not redirected</a>
  </body>
</html>
